node_modules
/ReactNativeSDK/ReactNativeSDK.xcworkspace/xcuserdata
/ReactNativeSDK/ReactNativeSDK.xcworkspace/xcshareddata
/ReactNativeSDK/Pods/Pods.xcodeproj/xcuserdata
/ReactNativeSDK/ReactNativeSDK.xcodeproj/xcuserdata
/ReactNativeSDK/archives
/ReactNativeSDK/Pods
/ReactNativeSDK/build
